<h1 id = 'movie-id' hidden>{{data.movie.tmdbID}}</h1>


<button id="watchlist-btn">Add to Watch List</button>
<button id = "discussion-btn">Create a Discussion</button>
<button onClick="window.location.href = '/';" id="home-btn">Back to Home</button>

<br>

<div id="rating-form">

    <h2>Leave A Review</h2>

    <form>
        <label for="rating">Rating (1-10)</label>
        <input type="number" name = "rating" id="rating" min="1" max="10" required>
        <br>
        <label for="review">Review</label>
        <input type="text" name="review" id="review" required>
        <br>
        <button id="send-review">Send Review</button>
    </form>
</div>

<div id="discussion-form" hidden>

    <h2>Start a Discussion</h2>

    <form>
        <label for="discussionTitle">Discussion Title</label>
        <input type="text" name = "discussionTitle" id="discussionTitle" required>
        <br>
        <label for="discussionContent">Discussion Content</label>
        <input type="text" name="discussionContent" id="discussionContent" required>
        <br>
        <button id="send-discussion">Create Discussion</button>
    </form>
</div>

<div id="movie-info">
    <h1>{{data.tmdbMovie.title}}</h1>
    <img src=https://image.tmdb.org/t/p/w500{{data.tmdbMovie.poster_path}} alt="{{data.tmdbMovie.title}} poster">
    <h2 id="avg-rating">Average User Rating: {{data.movie.averageRating}}</h2>
</div>

<div id= "movie-discussions">
    <h2>Discussions</h2>
    <ul>
        {{#each data.discussions}}
                <li>
                    <a href="/public/discussion/{{this._id}}">{{this.discussionTitle}}</a>
                </li>
        {{/each}}
    </ul>
</div>


<script src = "/privateMovie.js"></script>