<section>

    <h1 id = "discussion-id" hidden>{{data._id}}</h1>
    <h1 id="spoilerTag" hidden>{{data.isSpoiler}}</h1>

    <a href="/" class = 'home-btn'><h1>Back To Home</h1></a> 
    <button onClick="window.location.href = '/public/movie/{{data.movieId}}';" id="search-btn" class="btn btn-primary">Go to Movie</button>

    <h1 class = "center-text">{{data.discussionTitle}}</h1>

    <button id="spoiler-warning" class='btn btn-primary' hidden>Spoiler Alert! Click This To Show Anyway</button>

    <div id="discussion-wrapper">
        <div id="discussion-content">
            <h2>{{data.postCreatorUserName}}</h2>
            <p>{{data.discussionContent}}</p>

            <div id="comments">
                <ul id="comment-list">
                    {{#each data.replies}}
                        <li>
                            <h3>{{this.commentorUsername}}</h3>
                            <p>{{this.comment}}</p>
                        </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
    

    <script src = "/discussion.js"></script>
</section>