<h1 id = 'movie-id' hidden>{{data.movie.tmdbID}}</h1>

<a href="/" class = 'home-btn'><h1>Back To Home</h1></a> 

<h1 class = 'center-text'>{{data.tmdbMovie.title}}</h1>

<div class='flex-container' id="movie-container">


    <img src=https://image.tmdb.org/t/p/w500{{data.tmdbMovie.poster_path}} alt="{{data.tmdbMovie.title}} poster" id = 'movie-poster'>

    <div class = "movie-info">
        <h2 id="avg-rating">Average Rating: {{data.movie.averageRating}}</h2>
        <div><h2>Overview: </h2><p>{{data.tmdbMovie.overview}}</p></div>
        <div>
            <h2>Genre: </h2> 
            <ul>
                {{#each data.tmdbMovie.genres}}
                <li>
                    {{this.name}}
                </li> 
                {{/each}}
            </ul>
        </div>
    </div>

</div>

<div class='social-tab'>

    <div id= "movie-discussions">
        <h2>Discussions</h2>
        <ul>
            {{#each data.discussions}}
                    <li>
                        <a href="/public/discussion/{{this._id}}">{{this.discussionTitle}}</a>
                    </li>
            {{/each}}
        </ul>
    </div>

</div>

